{% extends 'base.html' %}

{% block title %}All Projects{% endblock title %}

{% block content %}

<div class="col-md-11 mx-auto">
      <div class="my-2">
        <div class="p-4 text-center">
          <div class="container py-3 ">
            <h1>All Projects</h1>

            <div class="row g-3">

              {% for project in  projects %}

              <a href="{% url 'project-detail' project.urlname %}" class="text-decoration-none">
                <div class="col-md-4 mb-3">
                  <div class="card btn btn-outline-secondary shadow">
                    <img src="{{ project.image.url }}" class="card-img-top" alt="project image">
                    <div class="card-body">
                      <h5 class="card-title">{{ project.title }}</h5>
                      <p class="card-text">{{ project.body }}</p>
                    </div>
                  </div>
                </div>
              </a>

              {% endfor %}   

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
