{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12 shadow bg-image" style="background-image: url('{% static 'images/banner2.jpg' %}'); background-size: cover; " >
      <div class="my-5 py-5">
        <div class="p-5 text-center">
          <div class="container py-5" >
            <h1 class="fw-bold">David Ezagui Moreno</h1>
            <p class="fw-bold">Python, Django and Unity Developer & Hobbyist Game Developer.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 shadow">
      <div class="my-5">
        <div class="p-4 ">
          <div class="container py-5 " id="about">
            <h1 class="fw-bold text-center" >About Me</h1>
            <p class="mb-5 mx-auto lead text-muted text-center">
              Hello everyone!
            </p>
            <div class="row">
              <div class="col-md-2 text-center">
                <img src="{% static 'images/square.png' %}" alt="" class="card-img-top shadow-lg">
                <a href="{% url 'cv' %}" class="btn btn-outline-light mt-4" target="_blank">Download CV</a>
              </div>
              <div class="col-md-10">
                <p class="text-muted">
                  My name is David, and I am a computer and video game enthusiast. I am always eager to learn new things and try new challenges. I am confident that I can continue to develop my skills and grow as a person.
                </p>
                <p class="text-muted">
                  I am always looking for new opportunities to learn and grow. I am currently taking online courses in computer science and game development.
                </p>
                <p class="text-muted">
                  I am confident that I can continue to develop my skills and grow as a person. I am always learning and growing, and I am excited to see what the future holds.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-5 text-center">
      <h1>Skills</h1>
      <p class="text-muted">
        These are some of my skills that I have acquired over time independently.
      </p>
    </div>
    
    <!--Intentar pponer algun separador o algo para que se vea mas organizado-->
    <div class="container mt-3 mb-3 shadow col-md-9 text-center">
      <div class="card">
        <h3 class="card-header ">About programming and stuff</h3>
        <div class="card-body">
          <p class="text-muted ">
            I am not an expert on these topics, and I still need to learn many things. However, I have a good understanding of the following technologies:
          </p>
          <div class="row mb-5">
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Python</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 75%; background-color: dark;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Django</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 50%; background-color: dark;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">HTML & CSS</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 75%; background-color: dark;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">C#</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 50%; background-color: dark;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Unity</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 60%; background-color: dark;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Git</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 50%; background-color: dark;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container mt-3 mb-3 shadow col-md-9 text-center">
      <div class="card">
        <h3 class="card-header ">Illustration, design and things like that</h3>
        <div class="card-body">
          <p class="text-muted ">
            I have been interested in digital illustration for a few years and have developed some skills in this area.
          </p>
          <p class="text-muted ">
            In programs like Photoshop and Sony Vegas, I am able to edit images and videos in a creative and effective way.
          </p>
          <div class="row mb-5">
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Sony Vegas</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 75%; background-color: dark;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Photoshop</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 80%; background-color: dark;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Paint Tool Sai</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 90%; background-color: dark;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  
    <div class="container mt-3 mb-3 shadow col-md-9 text-center">
      <div class="card">
        <h3 class="card-header ">Office Pack</h3>
        <div class="card-body">
          <p class="text-muted ">
            Throughout my studies, it was always necessary to use one of these programs, whether it was to write text, create presentations or organize data.
          </p>
          <p class="text-muted">
            It is always useful to know about them.
          </p>
          <div class="row mb-5">
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Word</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 100%; background-color: dark;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Excel</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 70%; background-color: dark;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Power Point</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 100%; background-color: dark;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="container mt-3 mb-3 shadow col-md-9 text-center">
      <div class="card">
        <h3 class="card-header ">Languages that i know</h3>
        <div class="card-body">
          <p class="text-muted ">
            My mother tongue is Spanish, but I have acquired enough knowledge in English to reach an intermediate-advanced level (B2)
          </p>
          <p class="text-muted">
            Anyway, I need to improve to achieve fluency.
          </p>
          <div class="row mb-5">
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">Spanish</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 100%; background-color: dark;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Native</div>
              </div>
            </div>
            <div class="col-md-4 mx-auto py-5">
              <h4 class="text-muted">English</h4>
              <div class="progress shadow">
                <div class="progress-bar" role="progressbar" style="width: 75%; background-color: dark;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">B2 - intermediate-advanced</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
  </div>
</div>


  <h1 class="text-center">Recent Projects</h1>

  

  <div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <a href="{% url 'project-detail' "my-first-social-web"%}">
          <img src="{% static 'images/c1.jpg' %}" class="d-block w-50 mx-auto" alt="Post image 1">
          <div class="carousel-caption d-none d-md-block rounded" style="background-color: black; opacity: 0.5;">
          <h3>Social Website</h3>
          <p>My first big project of Django</p>
        </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="{% url 'project-detail' "arepa-over-it"%}">
        <img src="{% static 'images/c2.jpg' %}" class="d-block w-50 mx-auto" alt="Post image 2">
        <div class="carousel-caption d-none d-md-block rounded" style="background-color: black; opacity: 0.5;">
          <h3>Arepa Over It</h3>
          <p>My first game published in Google play.</p>
        </div>
      </a>
      </div>
      <div class="carousel-item">
        <a href="{% url 'project-detail' "one-million-one"%}">
        <img src="{% static 'images/c3.png' %}" class="d-block w-50 mx-auto" alt="Post image 3">
        <div class="carousel-caption d-none d-md-block rounded" style="background-color: black; opacity: 0.5;">
          <h3>One Million One</h3>
          <p>A simple but Fun game for Android.</p>
        </div>
      </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h4 class="text-center py-5">
    <a href="{% url 'all-projects' %}" class="btn btn-outline-light">All Projects</a>
  </h4>
 
{% endblock content %}